h1
{
    background-color: #518499;
    border-radius: 5px;
}
h3
{
    font-size: 3em;
}
header
{
    text-align: center;
}
header h1
{
    font-size: 2em;
}
#helloUser
{
    font-size: 1.4em;
    color: black;
}
.mainBlock
{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 75%;
}
.mainBlock section
{
    align-self: flex-start;
}
.episodeContent
{
   padding: 5px;
   border: 1px #518499 solid;
   color: black;
   background-color: white;
   text-align: left;
}
nav
{
    width: 25%;
}
nav a
{
    display: block;
    font-size: 20px;
    margin: 5px 0 5px 0;
    text-align: center;
    line-height: 125px;
    width: 300px;
    height: 125px;
}
label
{
    color: black;
    font-weight: bold;
}
section
{
    display: block;
    width : 75%;
}
section p
{
    color: black;
}
#deleteComment
{
    text-decoration: none;
    padding: 5px;
    border : 2px black solid;
    color: black;
}