h1
{
    background-color: #2572C6;
    border-radius: 5px;
}
h3
{
    font-size: 3em;
}
header
{
    text-align: center;
}
header h1
{
    font-size: 2em;
}
nav
{
    padding-left: 5px;
    width: 25%;
}
nav h2
{
    width: 300px;
    box-shadow: none;
    border: none;
    color: #2572C6;
    background-color: white;
}
nav a
{
    display: block;
    font-size: 20px;
    margin: 5px 0 5px 0;
    text-align: center;
    line-height: 125px;
    width: 300px;
    height: 125px;
}
#helloUser
{
    font-size: 1.4em;
    color: black;
}
table
{
    border: 1px #2572C6 solid;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 30px;
    color: black;
}
table h2
{
    background-color: #2572C6;
    border-radius: 5px;
    color: white;
}
table th
{
    font-size: 2em;
}
table td
{
    font-size: 1.2em;
    border: 1px #2572C6 solid;
}
.titleEpisode
{
    font-size: 1.4em;
}
.mainBlock
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#dateEpisodeHome
{
    text-align: center;
    color: white;
}
.episodeContent
{
   padding: 5px;
   border: 1px #2572C6 solid;
   color: black;
   background-color: white;
   text-align: left;
}
form
{
    width: 90%;
    margin: auto;
}
label
{
    text-align: center;
    display: block;
    color: black;
    font-weight: bold;
}
input,textarea
{ 
    display: block;
    margin: auto;
}
section
{
    flex-direction: column;
    align-items: center;
    width:75%;
}
section p
{
    color: black;
}
#deleteComment
{
    text-decoration: none;
    padding: 5px;
    border : 2px black solid;
    color: black;
}
/* Lien pour accéder aux commentaires d'un épisode */
#linkEpisode
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
#linkEpisode a
{
    margin: 5px 0 5px 0;
    width: 18%;
    border-radius: 5px;
}
#authorComment
{
    margin: auto;
    width: 100%;
}
.contentCommment
{
    display: inline-block;
    width: 200px;
}

/** Support téléphone mobile **/
@media all and (max-width: 767px)
{
    #banner
    {
        display: none;
    }
     .mainBlock
    {
        flex-direction: column;
    }
    nav
    {
        width: 100%;
    }
    nav div
    {
        display: flex;
    }
    nav a
    {
        margin : 5px 0 0 0;
        line-height: normal;
        font-size: 1em;
        height: 50px;
        width: 200px;
        margin: auto;
        margin-bottom: 5px;
    }
    nav h2
    {
        display: none;
    }
}

/** Support tablette **/
@media all and (min-width: 768px) and (max-width: 991px)
{
      .mainBlock
    {
        flex-direction: column;
    }
    nav
    {
        width: 100%;
    }
    nav div
    {
        
        display: flex;
    }
    nav a
    {
        margin: auto;
        margin-bottom: 5px;
    }
    nav h2
    {
        display: none;
    }
}
/** Support petit écran **/
@media all and (min-width: 992px) and (max-width: 1200px)
{
    .mainBlock
    {
        flex-direction: column;
    }
    nav
    {
        width: 100%;
    }
    nav div
    {
        
        display: flex;
    }
    nav a
    {
        margin: auto;
        margin-bottom: 5px;
    }
    nav h2
    {
        display: none;
    }
}