body
{  
    width : 99%;
}
h1
{
    font-size: 1.5em;
}
.iconeFontAWeSome
{
    text-align: center;
    color : blue;
}
header
{
    color : white;
    background-color : #60AAC9;
    height : 150px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header p
{
    font-size : 1.3em;
}
#blockBook
{
    width : 100%;
    display: flex;
    justify-content: space-between;
}
#bookAlaska
{
    text-align: center;
    color : white;
    width : 55%;
    height :800px;
    background-color: #60AAC9;
}
#bookAlaska img
{
    
    background-size: cover;
    width : 100%;   
}
.blockEpisode
{
    color : white;
    background-color : #60AAC9;
    margin : 10px;
    padding-bottom: 5px;
    width : 99%;
    border: 2px #0000FF solid;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #0000FF;
}
.blockEpisode a 
{
    font-size: 1.2em;
    background-color : white;
    width : 200px;
    display : block;
    margin : auto;
    text-align: center;
    text-decoration: none;
    color : #0000FF;
    border : 2px #0000FF solid;
}
.blockEpisode p
{
    font-size : 1.2em;
}
footer
{
    color : white;
    font-size : 1.2em;
    background-color : #60AAC9;
    height: 100px;
    text-align: center;
}
