body
{  
    width: 99%;
}
h1
{
    font-size: 1.5em;
}
header
{
    color: white;
    background-color: #518499;
    height: 300px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header p
{
    font-size: 1.3em;
}
section
{
    width : 100%;
}
#bookAlaska
{
    text-align: center;
    color: white;
    width: 30%;
    height:300px;
}
#bookAlaska img
{
    
    background-size: cover;
    width: 100%;   
}
section
{
    display: flex;
    color: white;
}
section a 
{
    font-size: 1.2em;
    background-color: white;
    width: 200px;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #0000FF;
    border: 2px #0000FF solid;
}
section p
{
    font-size: 1.2em;
}
footer
{
    color: white;
    font-size: 1.2em;
    background-color: #518499;
    height: 100px;
    text-align: center;
}
