body
{  
    margin: auto;
}
header,section
{
    width: 75%;
}
h1
{
    font-size: 1.5em;
}
h2
{
    font-size: 2em;
}
h3
{
    background-color: #518499;
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px;
}
header
{
    margin: auto;
    color: white;
    background-color: #518499;
    height: 150px;
    display: flex;
    justify-content: space-around;
}
header p
{
    font-size: 1.3em;
}
#banner
{
    margin: auto;
    width: 75%;
    height: 500px;
    border-radius: 0 0 5px 5px;
    background: url('../images/photo-paysage-alaska.jpg') no-repeat;
    background-size: 100% 500px;
}
section
{
    margin: auto;
    display: flex;
    color: white;
}
section a 
{
    font-size: 1.2em;
    background-color: white;
    width: 200px;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #0000FF;
    border: 2px #0000FF solid;
}
section p
{
    font-size: 1.2em;
}
article
{
    background-color: #518499;
    margin: auto;
    text-align: center;
}
footer
{
    color: white;
    font-size: 1.2em;
    background-color: #518499;
    height: 100px;
    text-align: center;
}
